*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-color: black;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #FF0000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 12000px;
	margin: auto;
}

.title{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.title h1{
	font-family: "Times New Roman", Times, serif;
	color: #FF0000;
	font-size: 70px;
}

form{ 
	display: inline-block;
}

button{
	text-decoration: none;
	color: #FF0000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body{
	margin:0;
	padding:0;
}

*{
	box-sizing: border-box;
}

.container{
	max-width:1140px;
	margin:auto;
	position: relative;
	min-height: 1px;
}

.team{
	min-height: 100vh;
	padding:60px 15px;
	background-color:#000; 
	float: left;
	width: 100%;
}
.team h1{
	font-size: 36px;
	font-family: open sans;
	font-weight: 700;
	color:#ffffff;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}
.team .card{
	width:25%;
	float: left;
	padding:0px 15px;
}
.team .card .box {
	padding:15px;
	background-color: #2d3035;
	border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
}
.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}
.team .card .box img{
	width:150px;
	display: block;
	margin:10px auto;
	border-radius:50%;

}

.team .card .box h4{
	font-size: 20px;
	font-family: open sans;
	margin:20px 0px 10px;
	color:red;
	text-align: center;
	font-weight: 700;
}

.team .card .box h5{
	font-size:16px;
	font-family: open sans;
	font-weight: 600;
	color:white;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}



/*responsive*/

@media(max-width: 991px){
	.team .card{
		width:50%;
		margin-bottom:30px;
	}
}

@media(max-width:550px){
	.team .card{
		width:100%;
	}
}
















